#fotoAmalia {
    width: 300px;
    height: 300px;
    border-radius: 300px;
    margin-top: 20px;
}

.datosA {
	font-family: 'Playfair Display', serif;
	font-family: 'Ranga', cursive;
}

#contenedorBiografiaA{
	text-align: justify;
	display: inline-block;
	width: 500px;
	font-size: 23px;
	padding: 20px;
}

#presentacionA {
	text-align: center;
	background-color: #424632;
}

#nombreA {
	font-size: 40px;
	text-align: center;
}

#hobbyA {
	margin: 30px;
}

.listaA {
	font-size: 20px;
}

#tituloHobbyA {
	font-size: 24px;
}

#cineA {
	width: 100px;
	margin: 30px;
}
#bailandoA {
	height: 250px;
}

li {
	font-size: 20px;
	border-radius: 300px;
	display: inline-block;
	list-style-type: none;

}