body{
  font-family: 'Dosis', sans-serif;
}
header{
  text-align: center;
  background: #7FD6E2;
  padding: 1px;
}
.flor{
  margin:50px;
  width: 5%;
}
#kary{
  width: 20%;
  border-radius: 50%;
  position: relative;
  margin-left: 20%;
  border: 10px solid #7FD6E2;
}
.parrafoK{
  display: inline-block;
  position: absolute;
  width: 30%;
  height: 300px;
  text-align: justify;
  margin-left: 6%;
  font-size: 18px;
}
.seccionK{

  margin-top:5%;
}
.seccionIconoK{
  display: inline-block;
  width: 35%;
  margin-left: 35%;
  text-align: center;
}
.hobbiesK{
  font-size: 30px;
  text-align: center;
}
.icoHobbiesK{
  padding: 10px;
}
.footerK{
  color:#BFBEBE;
  text-align: right;
  padding: 10px;
}
